In [48]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import pearsonr

In [49]:
df=pd.read_csv("./data/tourism/KPI_touristique.csv")
df

        Date       TES       MRE  Total Arrivées      Nuité  Taux d'occupation
0    06-2025       NaN       NaN         1665206  1958326.0               48.0
1    05-2025       NaN       NaN          154004  2305539.0               54.0
2    04-2025  966724.0  698077.0         1664801  2463774.0               57.0
3    03-2025  768739.0  583272.0         1352011  1754640.0               40.0
4    02-2025  761377.0  634800.0         1396177  1797178.0               50.0
..       ...       ...       ...             ...        ...                ...
169  05-2010  430974.0  241339.0          672313        NaN                NaN
170  04-2010  432338.0  232737.0          665075        NaN                NaN
171  03-2010  437338.0  234940.0          672278        NaN                NaN
172  02-2010  327017.0  214346.0          541363        NaN                NaN
173  01-2010  291608.0  216485.0          508093        NaN                NaN

[174 rows x 6 columns]

In [51]:
df1=pd.read_csv("src/Google Trend/trends_raw_monthly.csv")
df2=pd.read_csv("src/Google Trend/trends_raw_monthly1.csv")

In [52]:
df1.rename(columns={"date":"Date"}, inplace=True)
df2.rename(columns={"date":"Date"}, inplace=True)

In [53]:
df1["Date"]= pd.to_datetime(df1["Date"])
df1['Date'] = df1['Date'].dt.strftime('%m-%Y')
df2["Date"]= pd.to_datetime(df2["Date"])
df2['Date'] = df2['Date'].dt.strftime('%m-%Y')

In [ ]:
trands=pd.merge(df1, df2, on="Date")
trands = trands.loc[:, ~trands.columns.str.endswith('_y')]
trands.columns = trands.columns.str.replace('_x$', '', regex=True)
trands

,Date,best marrakech hotels,best places in morocco,best time to visit morocco,casablanca airport,earthquake in morocco,flight to morocco,flights uk to morocco,le riad marrakech,marrakech morocco,...,rayan morocco,riad fes maroc,riad marrakech,riad marrakech medina,tangier flights,tangier morocco,things to do in morocco,visit morocco,where is morocco,zawina morocco
0,01-2010,19.0,27.0,23.0,60.0,0.0,22.0,42.0,76.0,60.0,...,0.0,80.0,94.0,98.0,50.0,44.0,36.0,22.0,8.0,0.0
1,02-2010,24.0,20.0,0.0,57.0,0.0,22.0,47.0,93.0,54.0,...,0.0,100.0,100.0,100.0,45.0,45.0,29.0,23.0,9.0,0.0
2,03-2010,23.0,22.0,23.0,64.0,0.0,22.0,42.0,100.0,53.0,...,0.0,84.0,94.0,96.0,48.0,48.0,39.0,23.0,8.0,0.0
3,04-2010,41.0,0.0,0.0,92.0,0.0,26.0,52.0,81.0,47.0,...,0.0,77.0,82.0,85.0,76.0,48.0,34.0,21.0,7.0,0.0
4,05-2010,32.0,19.0,0.0,85.0,0.0,23.0,37.0,69.0,44.0,...,0.0,52.0,69.0,62.0,74.0,49.0,40.0,22.0,9.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,02-2025,74.0,89.0,89.0,79.0,2.0,87.0,31.0,69.0,84.0,...,0.0,29.0,64.0,71.0,89.0,86.0,80.0,83.0,23.0,86.0
170,03-2025,80.0,74.0,84.0,75.0,1.0,84.0,24.0,68.0,80.0,...,0.0,20.0,56.0,60.0,79.0,77.0,80.0,82.0,21.0,100.0
171,04-2025,62.0,70.0,82.0,91.0,1.0,84.0,29.0,50.0,70.0,...,0.0,24.0,48.0,59.0,89.0,94.0,73.0,77.0,20.0,85.0
172,05-2025,56.0,69.0,85.0,89.0,1.0,83.0,33.0,53.0,74.0,...,0.0,26.0,46.0,47.0,87.0,93.0,74.0,75.0,19.0,82.0
173,06-2025,57.0,69.0,75.0,100.0,0.0,96.0,33.0,39.0,82.0,...,0.0,0.0,40.0,42.0,97.0,100.0,68.0,76.0,22.0,68.0

In [56]:
data=pd.merge(df,trands,on="Date",how="outer")
data.head(5)

,Date,TES,MRE,Total Arrivées,Nuité,Taux d'occupation,best marrakech hotels,best places in morocco,best time to visit morocco,casablanca airport,...,rayan morocco,riad fes maroc,riad marrakech,riad marrakech medina,tangier flights,tangier morocco,things to do in morocco,visit morocco,where is morocco,zawina morocco
0,01-2010,291608.0,216485.0,508093,NaN,NaN,19.0,27.0,23.0,60.0,...,0.0,80.0,94.0,98.0,50.0,44.0,36.0,22.0,8.0,0.0
1,01-2011,347822.0,238691.0,586513,1285171.0,NaN,38.0,29.0,24.0,55.0,...,0.0,58.0,89.0,88.0,39.0,39.0,40.0,26.0,10.0,0.0
2,01-2012,305247.0,227783.0,533030,1073849.0,32.0,29.0,22.0,10.0,45.0,...,0.0,40.0,58.0,55.0,49.0,36.0,43.0,26.0,11.0,0.0
3,01-2013,309813.0,240686.0,550499,1220383.0,35.0,35.0,31.0,19.0,51.0,...,0.0,43.0,55.0,49.0,47.0,45.0,39.0,28.0,13.0,0.0
4,01-2014,354493.0,248723.0,603216,1333413.0,NaN,49.0,40.0,32.0,50.0,...,0.0,37.0,62.0,65.0,45.0,46.0,51.0,32.0,13.0,0.0

In [57]:
l=list(trands.columns)
l.remove("Date")
data=data[["TES"]+l]

Calcul des corrélations avec décalages temporels

In [59]:
df = data

target_col = 'TES'  
keyword_cols = [col for col in df.columns if col != target_col]

results = []


for keyword in keyword_cols:
    correlations = {}
    
    # Tester différents lags (0 à 12 mois)
    for lag in range(0, 13):
    # Décaler la série du keyword
    
        keyword_lagged = df[keyword].shift(lag)

        # Supprimer les valeurs manquantes
        valid_idx = ~(keyword_lagged.isna() | df[target_col].isna())

        if valid_idx.sum() > 10:  # S'assurer qu'il y a assez de données
            # Calculer la corrélation de Pearson
            corr, p_value = pearsonr(
                keyword_lagged[valid_idx], 
                df[target_col][valid_idx]
            )
            correlations[lag] = {
                'correlation': corr,
                'p_value': p_value
            }
    
    # Trouver le lag optimal (corrélation maximale)
    if correlations:
        best_lag = max(correlations.keys(), 
                      key=lambda x: abs(correlations[x]['correlation']))
        best_corr = correlations[best_lag]['correlation']
        best_pvalue = correlations[best_lag]['p_value']
        
        results.append({
            'keyword': keyword,
            'best_lag': best_lag,
            'correlation': best_corr,
            'p_value': best_pvalue,
            'all_correlations': correlations
        })

# Créer un DataFrame avec les résultats
results_df = pd.DataFrame(results)
results_df = results_df.sort_values('correlation', 
                                    key=abs, 
                                    ascending=False)

print(results_df[['keyword', 'best_lag', 'correlation', 'p_value']])

                          keyword  best_lag  correlation       p_value
77                tangier morocco         0     0.829161  8.463959e-45
3              casablanca airport         0     0.827443  1.832793e-44
16                   morocco visa         0     0.748390  3.945187e-32
71                  rabat morocco         0     0.732088  3.776696e-30
43                    fes morocco         0     0.717580  1.666735e-28
..                            ...       ...          ...           ...
19              morocco world cup         2     0.126255  1.008822e-01
56  morocco earthquake death toll        12    -0.121893  1.246646e-01
18            morocco vs portugal         2     0.111012  1.495287e-01
14               morocco portugal         1     0.105303  1.704587e-01
25                  spain morocco         2     0.103047  1.811521e-01

[82 rows x 4 columns]

Sélection des variables finales

In [60]:
# Filtrer les keywords avec corrélation >= 70% (0.7)
threshold = 0.7
selected_keywords = results_df[
    abs(results_df['correlation']) >= threshold
].copy()

print(f"\nNombre de keywords sélectionnés: {len(selected_keywords)}")
print("\nKeywords sélectionnés:")
print(selected_keywords[['keyword', 'best_lag', 'correlation']])

# Créer le dataset final avec les variables décalées
final_df = df[[target_col]].copy()

for _, row in selected_keywords.iterrows():
    keyword = row['keyword']
    lag = row['best_lag']
    final_df[f"{keyword}_lag{lag}"] = df[keyword].shift(lag)

# Supprimer les lignes avec valeurs manquantes
final_df = final_df.dropna()

print(f"\nDataset final: {final_df.shape}")
final_df.to_csv('dataset_final_avec_lags.csv', index=False)

Nombre de keywords sélectionnés: 6

Keywords sélectionnés:
               keyword  best_lag  correlation
77     tangier morocco         0     0.829161
3   casablanca airport         0     0.827443
16        morocco visa         0     0.748390
71       rabat morocco         0     0.732088
43         fes morocco         0     0.717580
8    marrakech morocco         0     0.700365

Dataset final: (172, 7)

In [61]:
data1=pd.read_csv("tangier.csv")
data2=pd.read_csv("casablanca airportcsv.csv")
data3=pd.read_csv("morrocco.csv")

In [ ]:
def corrr(data):
    data["Date"]= pd.to_datetime(data["Date"])
    data['Date'] = data['Date'].dt.strftime('%m-%Y')
    data = data[~data["Date"].astype(str).str.contains("2020")]
    dt = pd.merge(df[["Date","TES"]], data, on="Date", how="inner")
    l=list(dt.columns)
    l.remove("Date")
    print(l)
    return dt[l].corr()

In [62]:
def stand(data):
    data["Date"]= pd.to_datetime(data["Date"])
    data['Date'] = data['Date'].dt.strftime('%m-%Y')
    data = data[~data["Date"].astype(str).str.contains("2020")]
    
    return data

In [63]:
data1=stand(data1)
data2=stand(data2)
data3=stand(data3)

In [65]:
all_data=pd.merge(data1, data2, on="Date")

In [67]:
all=pd.merge(all_data,data3, on="Date")

In [69]:
df=pd.read_csv("./data/tourism/KPI_touristique.csv")
final=pd.merge(df,all,  on="Date", how="outer")

In [ ]:
final

,Date,TES,MRE,Total Arrivées,Nuité,Taux d'occupation,tangier morocco,casablanca airport,morocco visa
0,01-2010,291608.0,216485.0,508093,NaN,NaN,44,61,26
1,01-2011,347822.0,238691.0,586513,1285171.0,NaN,39,57,30
2,01-2012,305247.0,227783.0,533030,1073849.0,32.0,35,44,28
3,01-2013,309813.0,240686.0,550499,1220383.0,35.0,45,51,27
4,01-2014,354493.0,248723.0,603216,1333413.0,NaN,45,50,32
...,...,...,...,...,...,...,...,...,...
169,12-2019,574847.0,419377.0,994224,1767518.0,NaN,55,78,50
170,12-2021,3718.0,9565.0,13283,559906.0,NaN,24,24,17
171,12-2022,594992.0,558340.0,1153332,1755566.0,42.0,59,63,79
172,12-2023,636217.0,638475.0,1274692,1587377.0,42.0,61,68,67
173,12-2024,784192.0,753742.0,1537934,1950797.0,48.0,72,78,86