In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import pearsonr

In [2]:
df=pd.read_csv("./data/tourism/KPI_touristique.csv")
df

        Date       TES       MRE  Total Arrivées      Nuité  Taux d'occupation
0    06-2025       NaN       NaN         1665206  1958326.0               48.0
1    05-2025       NaN       NaN          154004  2305539.0               54.0
2    04-2025  966724.0  698077.0         1664801  2463774.0               57.0
3    03-2025  768739.0  583272.0         1352011  1754640.0               40.0
4    02-2025  761377.0  634800.0         1396177  1797178.0               50.0
..       ...       ...       ...             ...        ...                ...
169  05-2010  430974.0  241339.0          672313        NaN                NaN
170  04-2010  432338.0  232737.0          665075        NaN                NaN
171  03-2010  437338.0  234940.0          672278        NaN                NaN
172  02-2010  327017.0  214346.0          541363        NaN                NaN
173  01-2010  291608.0  216485.0          508093        NaN                NaN

[174 rows x 6 columns]

In [3]:
trands=pd.read_csv("trends.csv")
trands.rename(columns={"date":"Date"},inplace=True)
trands

,Date,dollar in moroccan dirham,moroccan oil protect and prevent spray,good food recipes,merzouga tour,morocco travel update,traditional moroccan food,morocco covid travel,moroccan oil gift set,bbc good food crumble,...,casablanca london,spain portugal morocco itinerary,moroccan food toronto,taj moroccan food,marrakech souks,best months to visit morocco,morocco food,moroccan restaurant,moroccan restaurants london,moroccan oil shampoo and conditioner
0,01-2010,0,0,99,0,0,100,0,0,0,...,83,0,0,0,40,0,27,91,100,0
1,02-2010,0,0,100,0,0,0,0,0,0,...,100,0,0,0,0,0,30,93,68,0
2,03-2010,0,0,96,0,0,79,0,0,0,...,77,0,0,0,42,0,32,86,0,0
3,04-2010,0,0,84,0,0,0,0,0,0,...,76,0,0,0,55,0,24,86,51,20
4,05-2010,0,0,79,0,39,0,0,0,22,...,73,0,0,0,48,0,27,88,0,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,02-2025,33,0,23,100,0,68,0,0,41,...,72,0,0,100,97,0,45,48,0,27
170,03-2025,39,71,20,95,0,70,0,0,46,...,63,0,0,0,96,0,41,60,14,25
171,04-2025,50,0,20,79,0,45,0,0,47,...,71,0,0,0,100,0,42,52,0,28
172,05-2025,43,0,19,63,0,58,0,0,43,...,72,54,0,87,97,91,44,50,0,26
173,06-2025,38,0,18,71,0,70,0,0,29,...,80,44,0,0,89,0,46,53,0,27

In [4]:
data=pd.merge(df,trands,on="Date",how="outer")
data.head(5)

,Date,TES,MRE,Total Arrivées,Nuité,Taux d'occupation,dollar in moroccan dirham,moroccan oil protect and prevent spray,good food recipes,merzouga tour,...,casablanca london,spain portugal morocco itinerary,moroccan food toronto,taj moroccan food,marrakech souks,best months to visit morocco,morocco food,moroccan restaurant,moroccan restaurants london,moroccan oil shampoo and conditioner
0,01-2010,291608.0,216485.0,508093,NaN,NaN,0,0,99,0,...,83,0,0,0,40,0,27,91,100,0
1,01-2011,347822.0,238691.0,586513,1285171.0,NaN,0,0,90,0,...,61,0,0,0,51,0,28,91,49,29
2,01-2012,305247.0,227783.0,533030,1073849.0,32.0,0,0,71,0,...,61,0,0,0,55,0,24,81,0,25
3,01-2013,309813.0,240686.0,550499,1220383.0,35.0,0,0,53,0,...,62,0,0,0,46,0,22,86,33,67
4,01-2014,354493.0,248723.0,603216,1333413.0,NaN,29,0,54,15,...,58,0,0,0,56,0,18,75,37,46

In [5]:
l=list(trands.columns)
l.remove("Date")
data=data[["TES"]+l]

In [84]:
t=list(data.columns)
t.remove("TES")
ts=set(t)
len(ts)

82

Calcul des corrélations avec décalages temporels

In [74]:
#Calcul des corrélations avec décalages temporels
dataframe = dt 

target_col = 'TES'  
keyword_cols = [col for col in dataframe.columns if col != target_col]

results = []


for keyword in keyword_cols:
    correlations = {}
    
    # Tester différents lags (0 à 12 mois)
    for lag in range(1, 13):
    # Décaler la série du keyword
    
        keyword_lagged = dataframe[keyword].shift(lag)

        # Supprimer les valeurs manquantes
        valid_idx = ~(keyword_lagged.isna() | dataframe[target_col].isna())

        if valid_idx.sum() > 10:  # S'assurer qu'il y a assez de données
            # Calculer la corrélation de Pearson
            corr, p_value = pearsonr(
                keyword_lagged[valid_idx], 
                dataframe[target_col][valid_idx]
            )
            correlations[lag] = {
                'correlation': corr,
                'p_value': p_value
            }
    
    # Trouver le lag optimal (corrélation maximale)
    if correlations:
        best_lag = max(correlations.keys(), 
                      key=lambda x: abs(correlations[x]['correlation']))
        best_corr = correlations[best_lag]['correlation']
        best_pvalue = correlations[best_lag]['p_value']
        
        results.append({
            'keyword': keyword,
            'best_lag': best_lag,
            'correlation': best_corr,
            'p_value': best_pvalue,
            'all_correlations': correlations
        })

# Créer un DataFrame avec les résultats
results_df = pd.DataFrame(results)
results_df = results_df.sort_values('correlation', 
                                    key=abs, 
                                    ascending=False)

print(results_df[['keyword', 'best_lag', 'correlation', 'p_value']])

                               keyword  best_lag  correlation       p_value
204                  marrakech airport         1     0.789740  1.052126e-37
227                          marrakech         1     0.786069  3.835629e-37
39                      marrakech souk         1     0.767942  1.600169e-34
487                    marrakech souks         1     0.759295  2.353308e-33
217                    morocco airport         1     0.756005  6.354014e-33
..                                 ...       ...          ...           ...
298           morocco itinerary 4 days         8     0.054818  4.857016e-01
133  moroccan restaurant san francisco        12     0.053004  5.056253e-01
112        moroccan restaurant seattle        11    -0.052512  5.082489e-01
76       moroccan restaurant st albans        12     0.051779  5.155229e-01
198    spain morocco itinerary 10 days         8     0.040764  6.042773e-01

[490 rows x 4 columns]

Sélection des variables finales

In [77]:
#Sélection des variables finales
# Filtrer les keywords avec corrélation >= 70% (0.7)
threshold = 0.6
selected_keywords = results_df[
    abs(results_df['correlation']) >= threshold
].copy()

print(f"\nNombre de keywords sélectionnés: {len(selected_keywords)}")
print("\nKeywords sélectionnés:")
print(selected_keywords[['keyword', 'best_lag', 'correlation']])

# Créer le dataset final avec les variables décalées
final_df = dataframe[[target_col]].copy()

for _, row in selected_keywords.iterrows():
    keyword = row['keyword']
    lag = row['best_lag']
    #final_df[f"{keyword}_lag{lag}"] = dataframe[keyword].shift(lag)
    final_df[f"{keyword}"] = dataframe[keyword].shift(lag)
# Supprimer les lignes avec valeurs manquantes
final_df = final_df.dropna()

print(f"\nDataset final: {final_df.shape}")
#final_df.to_csv('dataset_final_avec_lags.csv', index=False)

Nombre de keywords sélectionnés: 48

Keywords sélectionnés:
                           keyword  best_lag  correlation
204              marrakech airport         1     0.789740
227                      marrakech         1     0.786069
39                  marrakech souk         1     0.767942
487                marrakech souks         1     0.759295
217                morocco airport         1     0.756005
408           aeropuerto marrakech         1     0.729697
188     best time to visit vietnam         1     0.728172
230                      essaouira         1     0.722959
456        marrakech to casablanca         1     0.712056
126     jardin majorelle marrakech         1     0.700372
289             flight to thailand         3     0.699755
12         aeropuerto de marrakech         1     0.687389
413              marrakech best of         1     0.681771
104                  vol marrakech         1     0.681633
85            restaurant marrakech         1     0.676252
196                casablanca time         1     0.676073
124               marrakech market         1     0.675390
360            le jardin marrakech         1     0.672981
191             aeroport marrakech         1     0.670252
331             desierto marrakech         1     0.670176
285                         flight         1     0.670141
254    ouzoud waterfalls marrakech         1     0.667399
69                   google flight         1     0.653008
7    flights to casablanca morocco         1     0.650094
438     places to visit in morocco         2     0.648285
363                           riad         2     0.646402
55                     cmn airport         1     0.645836
280           best hotel marrakech         1     0.644840
464               medina marrakech         1     0.640614
172            marrakech itinerary         1     0.635494
453               bilbao marrakech         1     0.633527
380                        tangier         1     0.632155
316                nomad marrakech         1     0.631475
304               malaga marrakech         1     0.631386
173                   la marrakech         1     0.626733
166       is morocco safe to visit         3     0.626007
461                villa marrakech         2     0.623849
318            paris marrakech vol         1     0.620117
32            que ver en marrakech         1     0.619728
161                 hora marrakech         1     0.617373
351             casablanca morocco         3     0.616417
105              vuelo a marrakech         1     0.614799
226             bordeaux marrakech         1     0.613022
0                    merzouga tour         1     0.611670
323                 nobu marrakech         2     0.608306
128              marrakech que ver         1     0.603798
268       morocco weather by month         9     0.602101
308              morocco itinerary         1     0.601992

Dataset final: (163, 49)

In [42]:
zawina=pd.read_csv("zawina.csv")
rest=pd.read_csv("rest.csv")

In [43]:
zawina["Date"]= pd.to_datetime(zawina["Date"])
rest["Date"]= pd.to_datetime(rest["Date"])
zawina["Date"]= zawina["Date"].dt.strftime('%m-%Y')
rest["Date"]= rest["Date"].dt.strftime('%m-%Y')

In [45]:
zawina = zawina[~zawina["Date"].astype(str).str.contains("2020")]
rest = rest[~rest["Date"].astype(str).str.contains("2020")]

In [46]:
all=pd.merge(zawina,rest,on="Date",how="outer")

In [47]:
final=pd.merge(df,all,on="Date",how="outer")
final

,Date,TES,MRE,Total Arrivées,Nuité,Taux d'occupation,zawina morocco,morocco travel restrictions
0,01-2010,291608.0,216485.0,508093,NaN,NaN,0,0
1,01-2011,347822.0,238691.0,586513,1285171.0,NaN,0,0
2,01-2012,305247.0,227783.0,533030,1073849.0,32.0,0,0
3,01-2013,309813.0,240686.0,550499,1220383.0,35.0,0,0
4,01-2014,354493.0,248723.0,603216,1333413.0,NaN,0,0
...,...,...,...,...,...,...,...,...
169,12-2019,574847.0,419377.0,994224,1767518.0,NaN,0,0
170,12-2021,3718.0,9565.0,13283,559906.0,NaN,0,67
171,12-2022,594992.0,558340.0,1153332,1755566.0,42.0,0,9
172,12-2023,636217.0,638475.0,1274692,1587377.0,42.0,0,0
173,12-2024,784192.0,753742.0,1537934,1950797.0,48.0,72,0

In [ ]:
final["morocco travel restrictions"]=final["morocco travel restrictions"].shift(3)

,Date,TES,MRE,Total Arrivées,Nuité,Taux d'occupation,zawina morocco,morocco travel restrictions
0,01-2010,291608.0,216485.0,508093,NaN,NaN,0,NaN
1,01-2011,347822.0,238691.0,586513,1285171.0,NaN,0,NaN
2,01-2012,305247.0,227783.0,533030,1073849.0,32.0,0,NaN
3,01-2013,309813.0,240686.0,550499,1220383.0,35.0,0,0.0
4,01-2014,354493.0,248723.0,603216,1333413.0,NaN,0,0.0
...,...,...,...,...,...,...,...,...
169,12-2019,574847.0,419377.0,994224,1767518.0,NaN,0,0.0
170,12-2021,3718.0,9565.0,13283,559906.0,NaN,0,0.0
171,12-2022,594992.0,558340.0,1153332,1755566.0,42.0,0,0.0
172,12-2023,636217.0,638475.0,1274692,1587377.0,42.0,0,0.0
173,12-2024,784192.0,753742.0,1537934,1950797.0,48.0,72,67.0

In [49]:
final["zawina morocco"]=final["zawina morocco"].shift(11)

In [50]:
matrcice=final[["TES","MRE","Total Arrivées","Nuité","Taux d'occupation","zawina morocco","morocco travel restrictions"]].corr()
matrcice

,TES,MRE,Total Arrivées,Nuité,Taux d'occupation,zawina morocco,morocco travel restrictions
TES,1.000000,0.583671,0.812763,0.819105,0.753714,-0.571151,0.506001
MRE,0.583671,1.000000,0.947447,0.615000,0.472690,-0.205899,0.252426
Total Arrivées,0.812763,0.947447,1.000000,0.737875,0.586009,-0.364042,0.347866
Nuité,0.819105,0.615000,0.737875,1.000000,0.937827,-0.483233,0.255350
Taux d'occupation,0.753714,0.472690,0.586009,0.937827,1.000000,NaN,0.342783
zawina morocco,-0.571151,-0.205899,-0.364042,-0.483233,NaN,1.000000,-0.106338
morocco travel restrictions,0.506001,0.252426,0.347866,0.255350,0.342783,-0.106338,1.000000

Test new methode

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from scipy import stats
from scipy.stats import pearsonr
import warnings
warnings.filterwarnings('ignore')

In [8]:
TRENDS_FILE = Path("trends.csv")
ARRIVALS_FILE = Path("data/tourism/KPI_touristique.csv")  # Format: Date, Arrivals
OUTPUT_DIR = Path("correlation_analysis")
OUTPUT_DIR.mkdir(exist_ok=True)

In [3]:
def filter_tourism_keywords(keywords):
    """
    Filtre STRICT: garde uniquement les keywords touristiques pertinents
    Élimine: produits commerciaux, recettes, news, etc.
    """
    # Patterns NON-touristiques à exclure
    EXCLUDE_PATTERNS = [
        r'\b(oil|argan|beauty|cosmetic|shampoo|body|hair)\b',  # Produits beauté
        r'\b(recipe|food|chilli|chocolate|cake|cooking)\b',     # Recettes
        r'\b(bbc|news|article|blog|instagram|facebook)\b',      # Média/social
        r'\b(pcr|test|covid|vaccine|quarantine)\b',             # COVID (peut être gardé séparément)
        r'\b(price|buy|shop|store|amazon|ebay)\b',              # E-commerce
        r'\b(job|work|salary|visa application)\b',              # Immigration/travail
    ]
    
    # Patterns TOURISTIQUES à inclure
    INCLUDE_PATTERNS = [
        r'\b(hotel|riad|resort|accommodation|stay|booking)\b',
        r'\b(flight|airport|airline|ticket|travel)\b',
        r'\b(tour|excursion|visit|guide|itinerary|trip)\b',
        r'\b(marrakech|casablanca|fez|chefchaouen|essaouira|tangier|agadir)\b',
        r'\b(sahara|desert|atlas|medina|kasbah|souk)\b',
        r'\b(weather|temperature|climate|best time)\b',
        r'\b(things to do|places to visit|attractions)\b',
        r'\b(restaurant|food|cuisine|dining)\b',  # Gastronomie touristique OK
        r'\b(beach|mountain|hiking|surfing|activities)\b',
    ]
    
    import re
    filtered = []
    
    for kw in keywords:
        kw_lower = kw.lower()
        
        # Exclure si match pattern non-touristique
        if any(re.search(pattern, kw_lower) for pattern in EXCLUDE_PATTERNS):
            continue
        
        # Inclure si match pattern touristique
        if any(re.search(pattern, kw_lower) for pattern in INCLUDE_PATTERNS):
            filtered.append(kw)
    
    return filtered

In [49]:
trends = pd.read_csv(TRENDS_FILE,parse_dates=['Date'], index_col='Date')
arrivals = pd.read_csv(ARRIVALS_FILE,parse_dates=['Date'], index_col='Date')
arrivals = arrivals["TES"]

In [50]:
common_dates = trends.index.intersection(arrivals.index)
trends = trends.loc[common_dates]
arrivals = arrivals.loc[common_dates]

In [51]:
LAG_RANGE = range(0, 13)  # 0 à 12 mois
MIN_CORRELATION = 0.5      # Seuil minimum
COVID_START = "2020-03-01"  # Début période COVID
COVID_END = "2021-12-31"    # Fin période COVID
covid_mask = (arrivals.index >= COVID_START) & (arrivals.index <= COVID_END)
arrivals = arrivals[~covid_mask]
arrivals = arrivals.interpolate(method='linear')
if arrivals.std() > 0:
        arrivals = (arrivals - arrivals.mean()) / arrivals.std()
        arrivals = (arrivals - arrivals.min()) / (arrivals.max() - arrivals.min()) * 100
arrivals

Date
2010-01-01     29.963587
2010-02-01     33.636911
2010-03-01     45.081591
2010-04-01     44.562892
2010-05-01     44.421391
                 ...
2025-02-01     78.697339
2025-03-01     79.461072
2025-04-01    100.000000
2025-05-01    100.000000
2025-06-01    100.000000
Name: TES, Length: 162, dtype: float64

In [52]:
all_keywords = trends.columns.tolist()
tourism_keywords = filter_tourism_keywords(all_keywords)

In [53]:
len(all_keywords), len(tourism_keywords)

(783, 476)

In [54]:
covid_mask = (trends.index >= COVID_START) & (trends.index <= COVID_END)

trends = trends[~covid_mask]

In [55]:
all=trends[tourism_keywords].join(arrivals)

In [60]:
all["merzouga tour"].std() > 0

np.True_

In [67]:
def filter_tourism_keywords(keywords):
    """Garde uniquement les mots-clés touristiques pertinents"""
    import re
    
    # Mots-clés à EXCLURE (non-touristiques)
    EXCLUDE = [
        r'\b(oil|argan|beauty|cosmetic|shampoo|body|hair)\b',
        r'\b(recipe|food|chilli|chocolate|cake|cooking)\b',
        r'\b(bbc|news|article|blog|instagram|facebook)\b',
        r'\b(price|buy|shop|store|amazon|ebay)\b',
        r'\b(job|work|salary|visa application)\b',
    ]
    
    # Mots-clés à INCLURE (touristiques)
    INCLUDE = [
        r'\b(hotel|riad|resort|accommodation|stay|booking)\b',
        r'\b(flight|airport|airline|ticket|travel)\b',
        r'\b(tour|excursion|visit|guide|itinerary|trip)\b',
        r'\b(marrakech|casablanca|fez|chefchaouen|essaouira|tangier|agadir)\b',
        r'\b(sahara|desert|atlas|medina|kasbah|souk)\b',
        r'\b(weather|temperature|climate|best time)\b',
        r'\b(things to do|places to visit|attractions)\b',
        r'\b(restaurant|cuisine|dining)\b',
        r'\b(beach|mountain|hiking|surfing|activities)\b',
    ]
    
    filtered = []
    for kw in keywords:
        kw_lower = kw.lower()
        
        # Exclure si non-touristique
        if any(re.search(pattern, kw_lower) for pattern in EXCLUDE):
            continue
        
        # Inclure si touristique
        if any(re.search(pattern, kw_lower) for pattern in INCLUDE):
            filtered.append(kw)
    
    return filtered

In [69]:
all_keywords = trends.columns.tolist()
tourism_keywords = filter_tourism_keywords(all_keywords)

In [70]:
trends = pd.read_csv(TRENDS_FILE,parse_dates=['Date'], index_col='Date')
arrivals = pd.read_csv(ARRIVALS_FILE,parse_dates=['Date'], index_col='Date')
arrivals = arrivals["TES"]

In [73]:
dt=trends[tourism_keywords].join(arrivals)
dt

,merzouga tour,morocco travel update,morocco covid travel,marrakech weather forecast,longue vie hotel marrakech,wydad casablanca,restaurant marrakech kassel,flights to casablanca morocco,marrakech meteo,when to visit morocco,...,14 day morocco itinerary,tangier morocco map,location riad marrakech,marrakech weather by month,casablanca london,spain portugal morocco itinerary,marrakech souks,best months to visit morocco,moroccan restaurant,TES
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-01,0,0,0,76,0,4,0,79,50,0,...,0,100,88,0,83,0,40,0,91,291608.0
2010-02-01,0,0,0,100,0,5,0,63,64,0,...,0,60,85,0,100,0,0,0,93,327017.0
2010-03-01,0,0,0,98,0,5,0,67,60,0,...,0,81,89,0,77,0,42,0,86,437338.0
2010-04-01,0,0,0,51,0,9,0,38,45,0,...,0,71,68,0,76,0,55,0,86,432338.0
2010-05-01,0,39,0,46,0,9,0,66,40,0,...,0,70,75,0,73,0,48,0,88,430974.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-02-01,100,0,0,21,76,9,0,73,56,62,...,0,43,23,49,72,0,97,0,48,761377.0
2025-03-01,95,0,0,23,77,9,0,75,77,74,...,0,56,24,75,63,0,96,0,60,768739.0
2025-04-01,79,0,0,17,73,9,0,64,68,82,...,0,40,16,57,71,0,100,0,52,966724.0
2025-05-01,63,0,0,10,87,24,46,69,41,55,...,0,47,20,44,72,54,97,91,50,NaN
2025-06-01,71,0,0,8,81,100,0,66,51,79,...,0,37,17,48,80,44,89,0,53,NaN

In [ ]:
"""
Analyse de Corrélation CORRIGÉE pour Google Trends × Tourisme Maroc
Résout les problèmes des résultats illogiques

PROBLÈMES IDENTIFIÉS:
1. Corrélations négatives pour keywords touristiques évidents (riad, ait benhaddou)
2. Domination de "argan oil" (pas directement lié au tourisme)
3. Lag uniformément à 10 mois (suspect)
4. Keywords non-touristiques dans les résultats (bbc good food)

SOLUTIONS APPLIQUÉES:
- Nettoyage strict des keywords non-touristiques
- Normalisation/détrending des séries temporelles
- Analyse de corrélation multiple (lag 0-12 mois)
- Validation croisée avec saisonnalité
- Détection d'outliers (COVID)
"""

import pandas as pd
import numpy as np
from pathlib import Path
from scipy import stats
from scipy.stats import pearsonr
import warnings
warnings.filterwarnings('ignore')

# ========= CONFIGURATION =========
TRENDS_FILE = Path("trends.csv")
ARRIVALS_FILE = Path("/data/tourism/KPI_touristique.csv")  # Format: Date, Arrivals
OUTPUT_DIR = Path("correlation_analysis")
OUTPUT_DIR.mkdir(exist_ok=True)

# Paramètres d'analyse
LAG_RANGE = range(1, 13)  # 0 à 12 mois
MIN_CORRELATION = 0.5      # Seuil minimum
COVID_START = "2020-03-01"  # Début période COVID
COVID_END = "2021-12-31"    # Fin période COVID

# ========= ÉTAPE 1: FILTRAGE STRICT DES KEYWORDS =========

def filter_tourism_keywords(keywords):
    """
    Filtre STRICT: garde uniquement les keywords touristiques pertinents
    Élimine: produits commerciaux, recettes, news, etc.
    """
    # Patterns NON-touristiques à exclure
    EXCLUDE_PATTERNS = [
        r'\b(oil|argan|beauty|cosmetic|shampoo|body|hair)\b',  # Produits beauté
        r'\b(recipe|food|chilli|chocolate|cake|cooking)\b',     # Recettes
        r'\b(bbc|news|article|blog|instagram|facebook)\b',      # Média/social
        r'\b(pcr|test|covid|vaccine|quarantine)\b',             # COVID (peut être gardé séparément)
        r'\b(price|buy|shop|store|amazon|ebay)\b',              # E-commerce
        r'\b(job|work|salary|visa application)\b',              # Immigration/travail
    ]
    
    # Patterns TOURISTIQUES à inclure
    INCLUDE_PATTERNS = [
        r'\b(hotel|riad|resort|accommodation|stay|booking)\b',
        r'\b(flight|airport|airline|ticket|travel)\b',
        r'\b(tour|excursion|visit|guide|itinerary|trip)\b',
        r'\b(marrakech|casablanca|fez|chefchaouen|essaouira|tangier|agadir)\b',
        r'\b(sahara|desert|atlas|medina|kasbah|souk)\b',
        r'\b(weather|temperature|climate|best time)\b',
        r'\b(things to do|places to visit|attractions)\b',
        r'\b(restaurant|food|cuisine|dining)\b',  # Gastronomie touristique OK
        r'\b(beach|mountain|hiking|surfing|activities)\b',
    ]
    
    import re
    filtered = []
    
    for kw in keywords:
        kw_lower = kw.lower()
        
        # Exclure si match pattern non-touristique
        if any(re.search(pattern, kw_lower) for pattern in EXCLUDE_PATTERNS):
            continue
        
        # Inclure si match pattern touristique
        if any(re.search(pattern, kw_lower) for pattern in INCLUDE_PATTERNS):
            filtered.append(kw)
    
    return filtered

# ========= ÉTAPE 2: PRÉPARATION DES DONNÉES =========

def load_and_prepare_data():
    """Charge et prépare les données trends et arrivées"""
    
    # 1. Charger trends
    if not TRENDS_FILE.exists():
        print(f"❌ Fichier {TRENDS_FILE} introuvable")
        return None, None
    
    trends = pd.read_csv(TRENDS_FILE, parse_dates=['Date'], index_col='Date')
    print(f"✓ Trends chargés: {len(trends)} dates × {len(trends.columns)} keywords")
    
    # 2. Charger arrivées touristiques
    if not ARRIVALS_FILE.exists():
        print(f"\n⚠️  Fichier arrivées touristiques manquant: {ARRIVALS_FILE}")
        print("   Création de données SIMULÉES pour démonstration...")
        arrivals = generate_synthetic_arrivals(trends.index)
    else:
        arrivals = pd.read_csv(ARRIVALS_FILE, parse_dates=['Date'], index_col='Date')
        arrivals = arrivals['TES']
        print(f"✓ Arrivées chargées: {len(arrivals)} dates")
    
    # 3. Aligner les dates (intersection)
    common_dates = trends.index.intersection(arrivals.index)
    trends = trends.loc[common_dates]
    arrivals = arrivals.loc[common_dates]
    
    print(f"✓ Période commune: {common_dates.min().date()} → {common_dates.max().date()}")
    
    return trends, arrivals

def generate_synthetic_arrivals(date_index):
    """
    Génère des données d'arrivées SIMULÉES avec saisonnalité réaliste
    (pour démonstration uniquement - remplacer par vraies données)
    """
    np.random.seed(42)
    
    arrivals = pd.Series(index=date_index, dtype=float)
    
    for date in date_index:
        # Saisonnalité: pic en été (juin-août), creux en hiver
        month = date.month
        seasonal_factor = 1.0 + 0.5 * np.sin((month - 3) * np.pi / 6)
        
        # Croissance tendancielle
        year = date.year
        trend_factor = 1.0 + (year - date_index.min().year) * 0.05
        
        # Choc COVID
        if COVID_START <= date.strftime("%Y-%m-%d") <= COVID_END:
            covid_factor = 0.2  # -80% pendant COVID
        else:
            covid_factor = 1.0
        
        # Valeur finale
        base_value = 100000  # 100k touristes/mois en base
        arrivals[date] = base_value * seasonal_factor * trend_factor * covid_factor
        arrivals[date] += np.random.normal(0, 5000)  # Bruit
    
    return arrivals

# ========= ÉTAPE 3: NETTOYAGE ET NORMALISATION =========

def clean_and_normalize(series, remove_covid=True):
    """
    Nettoie et normalise une série temporelle
    - Supprime outliers
    - Normalise (0-100)
    - Optionnel: exclut période COVID
    """
    series = series.copy()
    
    # Option: exclure période COVID
    if remove_covid:
        covid_mask = (series.index >= COVID_START) & (series.index <= COVID_END)
        series = series[~covid_mask]
    
    # Remplacer valeurs manquantes par interpolation
    series = series.interpolate(method='linear')
    
    # Normaliser (0-100)
    if series.std() > 0:
        series = (series - series.mean()) / series.std()
        series = (series - series.min()) / (series.max() - series.min()) * 100
    
    return series

# ========= ÉTAPE 4: ANALYSE DE CORRÉLATION MULTI-LAG =========

def calculate_lagged_correlation(keyword_series, arrivals_series, max_lag=12):
    """
    Calcule la corrélation pour différents lags (0-12 mois)
    Retourne le lag optimal et sa corrélation
    """
    results = []
    
    for lag in range(0, max_lag + 1):
        # Décaler la série keyword de 'lag' mois
        keyword_lagged = keyword_series.shift(lag)
        
        # Aligner les dates (supprimer NaN)
        aligned = pd.DataFrame({
            'keyword': keyword_lagged,
            'arrivals': arrivals_series
        }).dropna()
        
        if len(aligned) < 12:  # Minimum 12 mois de données
            continue
        
        # Calculer corrélation de Pearson
        corr, pvalue = pearsonr(aligned['keyword'], aligned['arrivals'])
        
        results.append({
            'lag': lag,
            'correlation': corr,
            'pvalue': pvalue,
            'n_observations': len(aligned)
        })
    
    if not results:
        return None
    
    # Sélectionner le lag avec la meilleure corrélation (en valeur absolue)
    best = max(results, key=lambda x: abs(x['correlation']))
    return best

# ========= ÉTAPE 5: ANALYSE PRINCIPALE =========

def perform_correlation_analysis(trends, arrivals):
    """Analyse de corrélation complète avec toutes les corrections"""
    
    print("\n" + "="*80)
    print("ANALYSE DE CORRÉLATION: GOOGLE TRENDS × ARRIVÉES TOURISTIQUES")
    print("="*80)
    
    # 1. Filtrage des keywords touristiques
    all_keywords = trends.columns.tolist()
    tourism_keywords = filter_tourism_keywords(all_keywords)
    
    print(f"\n📊 Filtrage des keywords:")
    print(f"   Total: {len(all_keywords)}")
    print(f"   Touristiques: {len(tourism_keywords)}")
    print(f"   Exclus: {len(all_keywords) - len(tourism_keywords)}")
    
    # 2. Normaliser les arrivées
    arrivals_clean = clean_and_normalize(arrivals, remove_covid=False)
    
    # 3. Analyse par keyword
    results = []
    
    print(f"\n🔄 Analyse en cours...")
    for i, keyword in enumerate(tourism_keywords, 1):
        if i % 10 == 0:
            print(f"   Progression: {i}/{len(tourism_keywords)}")
        
        keyword_series = trends[keyword]
        keyword_clean = clean_and_normalize(keyword_series, remove_covid=False)
        
        # Calculer corrélation multi-lag
        best_lag = calculate_lagged_correlation(keyword_clean, arrivals_clean)
        
        if best_lag and abs(best_lag['correlation']) >= MIN_CORRELATION:
            results.append({
                'keyword': keyword,
                'best_lag': best_lag['lag'],
                'correlation': best_lag['correlation'],
                'pvalue': best_lag['pvalue'],
                'n_obs': best_lag['n_observations'],
                'significant': best_lag['pvalue'] < 0.05
            })
    
    # 4. Trier par corrélation (valeur absolue décroissante)
    results_df = pd.DataFrame(results)
    results_df = results_df.sort_values('correlation', key=abs, ascending=False)
    
    return results_df

# ========= ÉTAPE 6: RAPPORT ET EXPORT =========

def generate_report(results):
    """Génère un rapport d'analyse détaillé"""
    
    print("\n" + "="*80)
    print("RÉSULTATS - TOP KEYWORDS PAR CORRÉLATION")
    print("="*80)
    
    if len(results) == 0:
        print("\n⚠️  Aucun keyword ne dépasse le seuil de corrélation")
        return
    
    # Séparer corrélations positives et négatives
    positive = results[results['correlation'] > 0]
    negative = results[results['correlation'] < 0]
    
    print(f"\n✅ CORRÉLATIONS POSITIVES (indicateurs prédictifs): {len(positive)}")
    print("-"*80)
    if len(positive) > 0:
        print(positive[['keyword', 'best_lag', 'correlation', 'significant']].head(15).to_string(index=False))
    
    print(f"\n❌ CORRÉLATIONS NÉGATIVES (anti-indicateurs): {len(negative)}")
    print("-"*80)
    if len(negative) > 0:
        print(negative[['keyword', 'best_lag', 'correlation', 'significant']].head(10).to_string(index=False))
    
    # Statistiques par lag
    print(f"\n📊 DISTRIBUTION DES LAGS:")
    print("-"*80)
    lag_dist = results['best_lag'].value_counts().sort_index()
    for lag, count in lag_dist.items():
        print(f"   Lag {lag:2d} mois: {count:3d} keywords")
    
    # Sauvegarde
    output_file = OUTPUT_DIR / "correlation_results.csv"
    results.to_csv(output_file, index=False)
    print(f"\n💾 Résultats sauvegardés: {output_file}")
    
    # Recommandations
    print("\n" + "="*80)
    print("💡 RECOMMANDATIONS")
    print("="*80)
    
    if len(positive) > 0:
        avg_lag = positive['best_lag'].mean()
        print(f"✓ Lag moyen optimal: {avg_lag:.1f} mois")
        print(f"✓ Planifier campagnes marketing {int(avg_lag)} mois avant la haute saison")
        print(f"✓ Top 3 indicateurs prédictifs:")
        for idx, row in positive.head(3).iterrows():
            print(f"   • {row['keyword'][:50]:50s} (lag={row['best_lag']}, r={row['correlation']:.3f})")
    
    if len(negative) > 0:
        print(f"\n⚠️  {len(negative)} keywords ont une corrélation négative")
        print(f"   → Possibles causes: recherches post-crise, confusion sémantique")
        print(f"   → Investiguer manuellement ces keywords")

# ========= FONCTION PRINCIPALE =========

def main():
    """Pipeline complet d'analyse"""
    
    print("\n" + "="*80)
    print("ANALYSE DE CORRÉLATION CORRIGÉE - TOURISME MAROC")
    print("="*80)
    
    # 1. Charger données
    trends, arrivals = load_and_prepare_data()
    if trends is None:
        return
    
    # 2. Analyse de corrélation
    results = perform_correlation_analysis(trends, arrivals)
    
    # 3. Rapport
    generate_report(results)
    
    print("\n✅ ANALYSE TERMINÉE")
    print("="*80)

if __name__ == "__main__":
    main()

================================================================================
ANALYSE DE CORRÉLATION CORRIGÉE - TOURISME MAROC
================================================================================
✓ Trends chargés: 174 dates × 783 keywords

⚠️  Fichier arrivées touristiques manquant: \data\tourism\KPI_touristique.csv
   Création de données SIMULÉES pour démonstration...
✓ Période commune: 2010-01-01 → 2025-06-01

================================================================================
ANALYSE DE CORRÉLATION: GOOGLE TRENDS × ARRIVÉES TOURISTIQUES
================================================================================

📊 Filtrage des keywords:
   Total: 783
   Touristiques: 476
   Exclus: 307

🔄 Analyse en cours...
   Progression: 10/476
   Progression: 20/476
   Progression: 30/476
   Progression: 40/476
   Progression: 50/476
   Progression: 60/476
   Progression: 70/476
   Progression: 80/476
   Progression: 90/476
   Progression: 100/476
   Progression: 110/476
   Progression: 120/476
   Progression: 130/476
   Progression: 140/476
   Progression: 150/476
   Progression: 160/476
   Progression: 170/476
   Progression: 180/476
   Progression: 190/476
   Progression: 200/476
   Progression: 210/476
   Progression: 220/476
   Progression: 230/476
   Progression: 240/476
   Progression: 250/476
   Progression: 260/476
   Progression: 270/476
   Progression: 280/476
   Progression: 290/476
   Progression: 300/476
   Progression: 310/476
   Progression: 320/476
   Progression: 330/476
   Progression: 340/476
   Progression: 350/476
   Progression: 360/476
   Progression: 370/476
   Progression: 380/476
   Progression: 390/476
   Progression: 400/476
   Progression: 410/476
   Progression: 420/476
   Progression: 430/476
   Progression: 440/476
   Progression: 450/476
   Progression: 460/476
   Progression: 470/476

================================================================================
RÉSULTATS - TOP KEYWORDS PAR CORRÉLATION
================================================================================

✅ CORRÉLATIONS POSITIVES (indicateurs prédictifs): 56
--------------------------------------------------------------------------------
                     keyword  best_lag  correlation  significant
morocco weather in september         0     0.826063         True
      morocco weather in may         3     0.824401         True
      morocco weather august         1     0.821929         True
     morocco weather in june         3     0.791518         True
     morocco weather in july         2     0.784904         True
       morocco weather april         4     0.780211         True
    marrakech weather august         0     0.764965         True
     marrakech weather april         4     0.754915         True
      marrakech weather july         2     0.753669         True
        agadir weather april         4     0.745227         True
   marrakech weather in june         3     0.744990         True
            travel insurance         0     0.742075         True
    marrakech weather in may         3     0.737536         True
    agadir weather september         0     0.691623         True
       agadir weather august         1     0.674271         True

❌ CORRÉLATIONS NÉGATIVES (anti-indicateurs): 11
--------------------------------------------------------------------------------
                 keyword  best_lag  correlation  significant
         riad marrakesch        12    -0.622302         True
     casablanca programm        12    -0.621778         True
         casablanca film        12    -0.606420         True
location villa marrakech         7    -0.590790         True
         casablanca kino        12    -0.571079         True
    casablanca oldenburg        12    -0.568534         True
        marrakech wetter        11    -0.553145         True
     casablanca nürnberg        12    -0.528388         True
  kino bochum casablanca        12    -0.525996         True
       casablanca bochum        12    -0.521649         True

📊 DISTRIBUTION DES LAGS:
--------------------------------------------------------------------------------
   Lag  0 mois:  15 keywords
   Lag  1 mois:   6 keywords
   Lag  2 mois:   8 keywords
   Lag  3 mois:   6 keywords
   Lag  4 mois:   5 keywords
   Lag  5 mois:   3 keywords
   Lag  6 mois:   2 keywords
   Lag  7 mois:   4 keywords
   Lag  8 mois:   2 keywords
   Lag  9 mois:   3 keywords
   Lag 10 mois:   3 keywords
   Lag 11 mois:   1 keywords
   Lag 12 mois:   9 keywords

💾 Résultats sauvegardés: correlation_analysis\correlation_results.csv

================================================================================
💡 RECOMMANDATIONS
================================================================================
✓ Lag moyen optimal: 3.2 mois
✓ Planifier campagnes marketing 3 mois avant la haute saison
✓ Top 3 indicateurs prédictifs:
   • morocco weather in september                       (lag=0, r=0.826)
   • morocco weather in may                             (lag=3, r=0.824)
   • morocco weather august                             (lag=1, r=0.822)

⚠️  11 keywords ont une corrélation négative
   → Possibles causes: recherches post-crise, confusion sémantique
   → Investiguer manuellement ces keywords

✅ ANALYSE TERMINÉE
================================================================================

In [62]:
"""
Analyse de Corrélation SIMPLIFIÉE : Google Trends × Tourisme Maroc
- Pas de données synthétiques
- Pas de standardisation
- Code minimaliste
"""

import pandas as pd
from pathlib import Path
from scipy.stats import pearsonr
import warnings
warnings.filterwarnings('ignore')

# ========= CONFIGURATION =========
TRENDS_FILE = Path("trends.csv")
ARRIVALS_FILE = Path("data/tourism/KPI_touristique.csv")
OUTPUT_DIR = Path("correlation_results")
OUTPUT_DIR.mkdir(exist_ok=True)

# Paramètres
MAX_LAG = 12           # Tester jusqu'à 12 mois de décalage
MIN_CORRELATION = 0.5  # Seuil minimum
MIN_PVALUE = 0.05      # Significativité statistique

# ========= FILTRAGE DES KEYWORDS TOURISTIQUES =========

def filter_tourism_keywords(keywords):
    """Garde uniquement les mots-clés touristiques pertinents"""
    import re
    
    # Mots-clés à EXCLURE (non-touristiques)
    EXCLUDE = [
        r'\b(oil|argan|beauty|cosmetic|shampoo|body|hair)\b',
        r'\b(recipe|food|chilli|chocolate|cake|cooking)\b',
        r'\b(bbc|news|article|blog|instagram|facebook)\b',
        r'\b(price|buy|shop|store|amazon|ebay)\b',
        r'\b(job|work|salary|visa application)\b',
    ]
    
    # Mots-clés à INCLURE (touristiques)
    INCLUDE = [
        r'\b(hotel|riad|resort|accommodation|stay|booking)\b',
        r'\b(flight|airport|airline|ticket|travel)\b',
        r'\b(tour|excursion|visit|guide|itinerary|trip)\b',
        r'\b(marrakech|casablanca|fez|chefchaouen|essaouira|tangier|agadir)\b',
        r'\b(sahara|desert|atlas|medina|kasbah|souk)\b',
        r'\b(weather|temperature|climate|best time)\b',
        r'\b(things to do|places to visit|attractions)\b',
        r'\b(restaurant|cuisine|dining)\b',
        r'\b(beach|mountain|hiking|surfing|activities)\b',
    ]
    
    filtered = []
    for kw in keywords:
        kw_lower = kw.lower()
        
        # Exclure si non-touristique
        if any(re.search(pattern, kw_lower) for pattern in EXCLUDE):
            continue
        
        # Inclure si touristique
        if any(re.search(pattern, kw_lower) for pattern in INCLUDE):
            filtered.append(kw)
    
    return filtered

# ========= CHARGEMENT DES DONNÉES =========

def load_data():
    """Charge les fichiers CSV"""
    
    # Vérifier que les fichiers existent
    if not TRENDS_FILE.exists():
        raise FileNotFoundError(f"❌ Fichier manquant : {TRENDS_FILE}")
    
    if not ARRIVALS_FILE.exists():
        raise FileNotFoundError(f"❌ Fichier manquant : {ARRIVALS_FILE}")
    
    # Charger Google Trends
    trends = pd.read_csv(TRENDS_FILE, parse_dates=['Date'], index_col='Date')
    print(f"✓ Trends : {len(trends)} lignes × {len(trends.columns)} mots-clés")
    
    # Charger arrivées touristiques
    arrivals = pd.read_csv(ARRIVALS_FILE, parse_dates=['Date'], index_col='Date')
    arrivals = arrivals['TES']  # Colonne des arrivées
    print(f"✓ Arrivées : {len(arrivals)} lignes")
    
    # Aligner les dates (garder uniquement les dates communes)
    common_dates = trends.index.intersection(arrivals.index)
    trends = trends.loc[common_dates]
    arrivals = arrivals.loc[common_dates]
    
    print(f"✓ Période : {common_dates.min().date()} → {common_dates.max().date()}")
    
    return trends, arrivals

# ========= CALCUL DE CORRÉLATION AVEC LAG =========

def calculate_correlation_with_lag(keyword_series, arrivals_series, max_lag=12):
    """
    Teste différents lags (0 à max_lag mois)
    Retourne le lag avec la meilleure corrélation
    """
    results = []
    
    for lag in range(1, max_lag + 1):
        # Décaler la série keyword de 'lag' mois
        keyword_lagged = keyword_series.shift(lag)
        
        # Créer un DataFrame aligné
        df = pd.DataFrame({
            'keyword': keyword_lagged,
            'arrivals': arrivals_series
        }).dropna()  # Supprimer les valeurs manquantes
        
        # Minimum 12 observations pour une corrélation fiable
        if len(df) < 12:
            continue
        
        # Calculer la corrélation de Pearson
        corr, pvalue = pearsonr(df['keyword'], df['arrivals'])
        
        results.append({
            'lag': lag,
            'correlation': corr,
            'pvalue': pvalue,
            'n_observations': len(df)
        })
    
    if not results:
        return None
    
    # Retourner le lag avec la plus forte corrélation (en valeur absolue)
    best = max(results, key=lambda x: abs(x['correlation']))
    return best

# ========= ANALYSE PRINCIPALE =========

def analyze_correlations(trends, arrivals):
    """Analyse de corrélation pour tous les mots-clés"""
    
    print("\n" + "="*80)
    print("ANALYSE DE CORRÉLATION")
    print("="*80)
    
    # Filtrer les mots-clés touristiques
    all_keywords = trends.columns.tolist()
    tourism_keywords = filter_tourism_keywords(all_keywords)
    
    print(f"\n📊 Mots-clés : {len(tourism_keywords)} touristiques / {len(all_keywords)} total")
    
    # Analyser chaque mot-clé
    results = []
    
    print(f"\n🔄 Analyse en cours...")
    for i, keyword in enumerate(tourism_keywords, 1):
        if i % 20 == 0:
            print(f"   {i}/{len(tourism_keywords)}")
        
        # Calculer la meilleure corrélation avec lag
        best = calculate_correlation_with_lag(trends[keyword], arrivals, MAX_LAG)
        
        # Garder si corrélation suffisante et significative
        if best and abs(best['correlation']) >= MIN_CORRELATION and best['pvalue'] < MIN_PVALUE:
            results.append({
                'keyword': keyword,
                'lag_mois': best['lag'],
                'correlation': round(best['correlation'], 3),
                'pvalue': best['pvalue'],
                'n_obs': best['n_observations']
            })
    
    # Créer DataFrame et trier par corrélation
    df_results = pd.DataFrame(results)
    df_results = df_results.sort_values('correlation', key=abs, ascending=False)
    
    return df_results

# ========= AFFICHAGE DES RÉSULTATS =========

def display_results(results):
    """Affiche et sauvegarde les résultats"""
    
    print("\n" + "="*80)
    print("RÉSULTATS")
    print("="*80)
    
    if len(results) == 0:
        print("\n⚠️  Aucun mot-clé ne dépasse les seuils")
        return
    
    # Séparer positives et négatives
    positive = results[results['correlation'] > 0]
    negative = results[results['correlation'] < 0]
    
    # Afficher corrélations positives
    print(f"\n✅ CORRÉLATIONS POSITIVES : {len(positive)}")
    print("-"*80)
    if len(positive) > 0:
        print(positive[['keyword', 'lag_mois', 'correlation']].head(20).to_string(index=False))
    
    # Afficher corrélations négatives
    if len(negative) > 0:
        print(f"\n❌ CORRÉLATIONS NÉGATIVES : {len(negative)}")
        print("-"*80)
        print(negative[['keyword', 'lag_mois', 'correlation']].head(10).to_string(index=False))
    
    # Distribution des lags
    print(f"\n📊 DISTRIBUTION DES LAGS :")
    print("-"*80)
    lag_counts = results['lag_mois'].value_counts().sort_index()
    for lag, count in lag_counts.items():
        print(f"   Lag {lag:2d} mois : {count:3d} mots-clés")
    
    # Sauvegarder en CSV
    output_file = OUTPUT_DIR / "correlation_results.csv"
    results.to_csv(output_file, index=False)
    print(f"\n💾 Sauvegardé : {output_file}")
    
    # Recommandations
    if len(positive) > 0:
        print("\n" + "="*80)
        print("💡 RECOMMANDATIONS")
        print("="*80)
        avg_lag = positive['lag_mois'].mean()
        print(f"✓ Lag moyen : {avg_lag:.1f} mois")
        print(f"✓ Top 3 indicateurs prédictifs :")
        for idx, row in positive.head(3).iterrows():
            print(f"   • {row['keyword']} (lag={row['lag_mois']}, r={row['correlation']})")

# ========= EXÉCUTION =========

def main():
    """Fonction principale"""
    
    print("\n" + "="*80)
    print("ANALYSE CORRÉLATION - GOOGLE TRENDS × TOURISME MAROC")
    print("="*80)
    
    try:
        # 1. Charger les données
        trends, arrivals = load_data()
        
        # 2. Analyser les corrélations
        results = analyze_correlations(trends, arrivals)
        
        # 3. Afficher les résultats
        display_results(results)
        
        print("\n✅ TERMINÉ")
        print("="*80)
        
    except FileNotFoundError as e:
        print(f"\n{e}")
        print("\nAssurez-vous que les fichiers suivants existent :")
        print(f"   - {TRENDS_FILE}")
        print(f"   - {ARRIVALS_FILE}")
    except Exception as e:
        print(f"\n❌ Erreur : {e}")

if __name__ == "__main__":
    main()

================================================================================
ANALYSE CORRÉLATION - GOOGLE TRENDS × TOURISME MAROC
================================================================================
✓ Trends : 174 lignes × 783 mots-clés
✓ Arrivées : 174 lignes
✓ Période : 2010-01-01 → 2025-06-01

================================================================================
ANALYSE DE CORRÉLATION
================================================================================

📊 Mots-clés : 490 touristiques / 783 total

🔄 Analyse en cours...
   20/490
   40/490
   60/490
   80/490
   100/490
   120/490
   140/490
   160/490
   180/490
   200/490
   220/490
   240/490
   260/490
   280/490
   300/490
   320/490
   340/490
   360/490
   380/490
   400/490
   420/490
   440/490
   460/490
   480/490

================================================================================
RÉSULTATS
================================================================================

✅ CORRÉLATIONS POSITIVES : 140
--------------------------------------------------------------------------------
                   keyword  lag_mois  correlation
         marrakech airport         1        0.790
                 marrakech         1        0.786
            marrakech souk         1        0.768
           marrakech souks         1        0.759
           morocco airport         1        0.756
      aeropuerto marrakech         1        0.730
best time to visit vietnam         1        0.728
                 essaouira         1        0.723
   marrakech to casablanca         1        0.712
jardin majorelle marrakech         1        0.700
        flight to thailand         3        0.700
   aeropuerto de marrakech         1        0.687
         marrakech best of         1        0.682
             vol marrakech         1        0.682
           casablanca time         1        0.676
      restaurant marrakech         1        0.676
          marrakech market         1        0.675
       le jardin marrakech         1        0.673
        aeroport marrakech         1        0.670
                    flight         1        0.670

❌ CORRÉLATIONS NÉGATIVES : 9
--------------------------------------------------------------------------------
                          keyword  lag_mois  correlation
covid pcr test for travel near me         1       -0.573
       morocco coronavirus travel         1       -0.557
        covid pcr test for travel         1       -0.546
          nhs pcr test for travel         1       -0.537
          get pcr test for travel         1       -0.535
       pcr test for travel london         1       -0.535
   how to get pcr test for travel         1       -0.528
              pcr test for travel         1       -0.526
           uk pcr test for travel         1       -0.521

📊 DISTRIBUTION DES LAGS :
--------------------------------------------------------------------------------
   Lag  1 mois :  95 mots-clés
   Lag  2 mois :  22 mots-clés
   Lag  3 mois :  11 mots-clés
   Lag  6 mois :   4 mots-clés
   Lag  7 mois :   1 mots-clés
   Lag  8 mois :   1 mots-clés
   Lag  9 mois :   1 mots-clés
   Lag 11 mois :   3 mots-clés
   Lag 12 mois :  11 mots-clés

💾 Sauvegardé : correlation_results\correlation_results.csv

================================================================================
💡 RECOMMANDATIONS
================================================================================
✓ Lag moyen : 2.7 mois
✓ Top 3 indicateurs prédictifs :
   • marrakech airport (lag=1, r=0.79)
   • marrakech (lag=1, r=0.786)
   • marrakech souk (lag=1, r=0.768)

✅ TERMINÉ
================================================================================