In [3]:
import pandas as pd

In [23]:
df=pd.read_csv("./Nuite_par_destination.csv")
df

         Date Destination   Nuité
0     06-2025   Essaouira   55700
1     06-2025    Al Haouz   71991
2     06-2025      Agadir  560175
3     06-2025  Casablanca  181510
4     06-2025      Tanger  168910
...       ...         ...     ...
1190  01-2012   Marrakech  347816
1191  01-2012         Fès   40631
1192  01-2012  Errachidia    5163
1193  01-2012  Casablanca  126523
1194  01-2012      Agadir  292571

[1195 rows x 3 columns]

In [24]:
# df["Date"] = pd.to_datetime(df["Date"], format="%m/%Y")
# df = df.sort_values("Date", ascending=False).reset_index(drop=True)
# df["Date"] = df["Date"].dt.strftime("%m-%Y")
# df

In [ ]:
df.to_csv("Nuite_par_destination.csv",index=False)